#container {
	max-width: 500px;
	margin: 0 auto;

	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
}
img {
	width:100%;

}

#title {
	grid-column-start: 1;
	grid-column-end: 2;
}

#menu {
	grid-column: 1 / 4;
}
#login {
	grid-column: 2 / span 1;
	grid-row: 2;
}